#test_btn1{
  border-top-left-radius: 5px; border-bottom-left-radius: 5px; margin-right:-4px;
}
#test_btn2{
  border-top-right-radius: 5px; border-bottom-right-radius: 5px; margin-left:-3px;
}
#btn_group button{
  border: 1px solid saddlebrown; background-color: rgba(0,0,0,0); color: saddlebrown; padding: 5px;
}
